html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    height: inherit;
    width: inherit;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-family: 'Bowlby One SC';
    font-size: 1.6em;
}

.pdebug{
    left: 0px;
}

#main-menu,
#waiting,
#phaser-canvas {
    display: none;
}

#waiting {
    text-align: center;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading-spinner {
    animation-duration: 1.45s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.62,.28,.23,.99);
    animation-delay: 0.36s;
    height: 7vh;
    width: 7vh;
    background: white;
    margin: 6vh auto;
}
